{
   "youtube_stream_key": "0000-0000-0000-0000-0000",
   "google_api_key": "YOUR_GOOGLE_API_KEY_HERE",
   "mqtt_username": "",
   "mqtt_password": "",
   "dawn_url": "https://127.0.0.1:3000",
   "dawn_service_token": ""
}
